@import url('reset.css')

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #1C1C1B;
}

header {
  margin-bottom: -2em;
}

main {
  text-align: center;
}

.logo {
  width: 15%;
}

.lock {
  width: 52%;
  padding-bottom: 2em;
}

.logo, .lock {
  display: block;
  margin: 0 auto;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
  letter-spacing: .875em;
  font-size: 1em;
  font-family: 'Times', serif;
  border: none;
}

.dashes:before, .dashes:after {
  content: "-";
}